<!-- filter desktop -->
<div class="flex flex-col items-center">
  <h1 class="text-blancCasse text-5xl my-5 font-bodoniModa border-b-dore border-b-2">Produits</h1>
</div>
<section class="text-noir bg-grisClair  p-3 m-2">
	<p class="font-bold">Filtres des produits</p>
		<div class="flex flex-row justify-between items-center">
			<div class="pe-2 flex items-center">
			@for (option of categoryList; track option){
			<input type="radio" [(ngModel)]="categorySelected" name="category" [value]="option.value" checked="" class="m-1 peer border-2 border-dore appearance-none w-4 h-4 rounded-full bg-blancCasse checked:bg-dore">
			<label for="option.value" class="m-1">{{option.valueName}}</label>
			}
		</div>
		<div class="ps-2 flex items-center">
			@for (option of priceList; track option){
			<input type="radio" [(ngModel)]="priceSelected" name="price" [value]="option.value" checked="" class="m-1 peer border-2 border-dore appearance-none w-4 h-4 rounded-full bg-blancCasse checked:bg-dore">
			<label for="option.value" class="m-1">{{option.valueName}}</label>
			}
		</div>
		<button (click)="filterProduct()" class="bg-grisAnthracite text-blancCasse py-2 px-4 ms-2">Filtrer</button>
	</div>

</section>

<!-- filter mobile
<section class="text-noir bg-grisClair p-3 m-2 flex flex-col">
  <p class="font-bold">Filtres</p>
  <div>
    <div class="bg-blancCasse p-1 my-3">
      <select [(ngModel)]="categorySelected">
        @for (option of categoryList; track option){
        <option [value]="option.value">{{option.valueName}}</option>
        }
      </select>
    </div>
    <div class="bg-blancCasse p-1 my-3">
      <select [(ngModel)]="priceSelected">
        @for (option of priceList; track option){
        <option [value]="option.value">{{option.valueName}}</option>
        }
      </select>
    </div>
  </div>
  <button (click)="filterProduct()" class="bg-grisAnthracite text-blancCasse p-2">Filtrer/button>
</section> -->

<section class="text-white grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 max-w-7xl mx-auto py-16 px-6">
  @for (product of productList(); track product.id){
  <app-card-product [product]="product" (selectProduct)="openModal($event)" />
  }
</section>

<!-- Modale affichée si produit est sélectionné -->
@if (selectedProduct(); as selected) {
<app-modal (close)="closeModal()">

  <app-card-product-detail [product]="selected" (close)="closeModal()" />

  <div class="flex justify-center lg:justify-end mt-6">
    <button type="button" (click)="addToCart()"
      class="inline-flex items-center text-white bg-grisAnthracite border border-dore hover:bg-dore hover:text-blancCassé transition-colors p-3">
      Ajouter au panier
    </button>
  </div>
</app-modal>
}