<!-- filter desktop -->
<section class="text-white">
  <p>filter product</p>
  <div>
    @for (option of categoryList; track option){
    <input type="radio" [(ngModel)]="categorySelected" name="category" [value]="option.value">
    <label for="option.value">{{option.valueName}}</label>
    }
  </div>
  <div>
    @for (option of priceList; track option){
    <input type="radio" [(ngModel)]="priceSelected" name="price" [value]="option.value">
    <label for="option.value">{{option.valueName}}</label>
    }
  </div>
  <button (click)="filterProduct()">filter</button>
</section>

<!-- filter mobile -->
<section class="text-white">
  <p>filter product</p>
  <div>
    <div>
      <select [(ngModel)]="categorySelected">
        @for (option of categoryList; track option){
        <option [value]="option.value">{{option.valueName}}</option>
        }
      </select>
    </div>
    <div>
      <select [(ngModel)]="priceSelected">
        @for (option of priceList; track option){
        <option [value]="option.value">{{option.valueName}}</option>
        }
      </select>
    </div>
  </div>
  <button (click)="filterProduct()">filter</button>
</section>

<section class="text-white">
  @for (product of productList(); track product.id){
  <app-card-product [product]="product" (selectProduct)="openModal($event)" />
  }
</section>

<!-- Modale affichée si produit est sélectionné -->
@if (selectedProduct(); as selected) {
<app-card-product-detail [product]="selected" (close)="closeModal()" />
}